[Unit]
Description=My Flask App
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/opt/chatbot
ExecStart=/opt/chatbot/chatbot/bin/python3 app.py
Restart=always

[Install]
WantedBy=multi-user.target
